// Place all the styles related to the Exams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.exam-box {
  margin-top: 20px;
  border-bottom: 2px solid #152737;
  border-right: 5px solid #152737;
  padding: 15px;
  margin-bottom: 65px;
  background-color: #f1f1f1;
  border-top-left-radius: 10px;
}

.sub-text {
  color: #aaa;
  font-size: 1.2em;
  float: right;
  margin-right: 10px;
}

#new-exam-expiration-date:hover {
  cursor: hand !important;
  cursor: pointer !important;
}

.blue-btn {
  -webkit-border-radius: 16;
  -moz-border-radius: 16;
  border-radius: 16px;
  font-family: Arial;
  border: 1px solid #473a57;
  color: #ffffff;
  font-size: 15px;
  background: #103a57;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: 0 auto;
}

.blue-btn:hover {
  background: #3f5c6e;
  text-decoration: none;
}

.general-button {
  -webkit-border-radius: 16;
  -moz-border-radius: 16;
  border-radius: 16px;
  font-family: Arial;
  border: 1px solid #001510;
  color: #ffffff;
  font-size: 12px;
  background: #003010;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

.exam-btn {
  height: 80px;
  width: 80px;
  border: solid 6px #152737;
  border-radius: 50px;
  background-color: #eee;
  padding-top: 25px;
  margin: 0 auto;
  text-align: center;
}

#save-exam-btn {
  float: right;
}