// Place all the styles related to the Exams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.exam-box {
  margin-top: 20px;
  border-bottom: 2px solid #152737;
  border-right: 5px solid #152737;
  padding: 15px;
  margin-bottom: 65px;
  background-color: #f1f1f1;
  border-top-left-radius: 10px;
}

.exam-btn {
  height: 80px;
  width: 80px;
  border: solid 6px #152737;
  border-radius: 50px;
  background-color: #eee;
  padding-top: 25px;
  margin: 0 auto;
  text-align: center;
}