// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.question {
  padding: 10px;
  background-color: #ddd;
  border: none;
  border-radius: 15px;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 1.2em;
}

.items-container {
  border: 1px solid #959595;
  background-color: #fff;
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), inset 0 0 10px rgba(0, 0, 0, 0.03);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), inset 0 0 10px rgba(0, 0, 0, 0.03);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), inset 0 0 10px rgba(0, 0, 0, 0.03);
  padding: 25px;
}